@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;

   display: flex;
   background-image: url('../slike/background.webp');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 25vh;
    text-align: center;
    margin-top: 30vh;
    box-sizing: border-box; 
    border-style: solid;
    border-radius: 20px;
    color:  rgb(45, 80, 109);
    padding: 0px 40px;

    
}
#pokreni{
    display: flex;
    justify-content: center;
}
.buttonHolder{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.button{
    padding: 20px 30px;
   background-color: rgb(45, 80, 109);
   border-radius: 20px;
   color: aliceblue;
   margin-top: 20px;
   font-weight: bold;
   font-size: large;
   

}
.button:hover{
    cursor: pointer;
    background-color: rgb(121, 151, 175);
    transform: scale(1.1);
}

